/* ------------------------------------------------- */
/*             Based on ANDY BELL'S RESET            */
/* ------------------------------------------------- */
/* https://piccalil.li/blog/a-more-modern-css-reset/ */
/* ------------------------------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* remove animations for people who have turned them off */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------ */
/*     CUSTOM PROPERTIES    */
/* ------------------------ */

:root {
  /* ---------- */
  /*    COLORS  */
  /* ---------- */

  /* Box colors */
  --color-primary-light: #88b490;
  --color-primary-dark: #2e5a4f;
  --color-secondary: #5c5d9a;
  --color-tertiary: #f6e27f;

  /* Background color */
  --color-background: #e7d9c4;

  /* ---------- */
  /*    FONTS   */
  /* ---------- */

  /* font families */

  --font-heading: "Marcellus", serif;
  --font-paragraph: "Quicksand", sans-serif;

  /* font colors */
  --font-color-dark: #2f2f2f;
  --font-color-bright: #f9f8f4;

  /* font sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}

/* ------------------- */
/*   UTILITY CLASSES   */
/* ------------------- */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.noverflow {
  overflow: hidden;
}

.row {
  flex-direction: row;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

/* Hero styling */
.hero-center {
  justify-content: space-between;
  align-items: center;
}

.hero-image {
  max-height: 100%;
  flex: 1;
  padding: 0;
  margin: 0;
  border-radius: 0 0 0 15rem;
  overflow: hidden;
  background-color: var(--color-secondary);
  /* FIX THIS! */
  animation: flexitarian 3s ease-in;
}

.hero-image:hover {
  /* Hmm... */
}

.hero-text {
  flex: 1;
  /* transition: flex 3s ease-in; */
}

.grid {
  display: grid;
}

/* color utility classes */
/* TBA!! */
.bc-purple {
  background-color: var(--color-secondary);
}

/* ------------- */
/*      BODY     */
/* ------------- */

body {
  background-color: var(--color-background);
  padding: 2.5rem;
}

h1 {
  font-family: var(--font-heading);
  font-size: var(--fs-500);
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--fs-400);
}

p {
  font-family: var(--font-paragraph);
  font-size: var(--fs-300);
}

/* ------------- */
/*     HEADER    */
/* ------------- */

/* NAV */

nav {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: var(--color-tertiary);
  min-height: 5rem;
  align-items: center;
  border-radius: 1rem;
  gap: 27rem;
  box-shadow: 0px 5px 5px 5px rgba(63, 66, 113, 0.1);
}

.menu {
  gap: 3rem;
}

/* ------------ */
/*     MAIN     */
/* ------------ */

/* articles, boxes, buttons, containers */

.article {
  box-shadow: 0px 5px 5px 5px rgba(63, 66, 113, 0.1);
  border-radius: 2rem;
  padding: 2rem;
  background-color: var(--color-primary-dark);
  overflow: hidden;
}

.hero {
  box-shadow: 0px 5px 5px 5px rgba(63, 66, 113, 0.1);
  border-radius: 2rem;
  padding-left: 2rem;
  background-color: var(--color-tertiary);
  height: 70vh;
}

.container {
  gap: 3rem;
  overflow: hidden;
}

.button {
  width: 10rem;
  height: 4rem;
  background: var(--color-tertiary);
  /* overflow: hidden; */
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0px 5px 5px 5px rgba(63, 66, 113, 0.1);
  transition: background-color 0.5s ease-in, width 0.5s ease-in;
  overflow: hidden;
}

.button:hover {
  width: 9rem;
  height: 4rem;
  background-color: var(--color-primary-light);
  /* background: var(--color-tertiary); */
  overflow: hidden;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0px 5px 5px 5px rgba(63, 66, 113, 0.1);
}

/* ------------------- */
/*     MEDIA QUERIES   */
/* ------------------- */
/*   To be continued!  */
/* ------------------- */

@media (max-width: 650px) {
  .flex {
    flex-direction: column;
  }

  nav {
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: var(--color-tertiary);
    min-height: 5rem;
    align-items: center;
    border-radius: 1rem;
    gap: 27rem;
    box-shadow: 0px 5px 5px 5px rgba(63, 66, 113, 0.1);
  }
}

/* ------------------- */
/*      KEYFRAMES      */
/* ------------------- */

@keyframes flexitarian {
  0% {
    flex: 1;
  }

  100% {
    flex: 1.2;
  }
}
